*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


$mainHeight: 400px;
$demoColor: lightblue;
$demoColor2: lightpink;
$bl_cardSize: 300px;

.ly_container {
  overflow-x: hidden;
}

.ly_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl_header {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    display: block;

    &:last-child {
      margin-left: 30px;
    }
  }
}



.bl_form {
  height: $mainHeight;
  background-color: $demoColor;
  margin: 0 50px;

  &_text {
    text-align: center;
    font-size: 25px;
  }

  &_input {
    width: 50%;
    height: 60px;
    padding: 10px;
    font-size: 25px;
    margin: auto;
    
  }

  &_submit {
    width: auto;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 40px;
  }

  & * {
    display: block;
  }
}


.bl_playing {
  height: $mainHeight;
  background-color: $demoColor2;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 50px;

  & > * {
    width: 50%;
  }
}

.bl_prevNumbers {
  height: $mainHeight;
  font-size: 30px;
  font-weight: bold;
  background-color: lightsalmon;
}

.bl_output {
  height: $mainHeight;
  background-color: blue;
}

.bl_currNumber {
  width: 300px;
  height: 300px;
  font-size: 100px;
  font-weight: bold;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl_bingoBtn {
  width: 30%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
}


#js_cardParent {
  display: none;
}
.bl_card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 30px;

  &_btn {
    display: flex;
    width: $bl_cardSize / 5;
    height: $bl_cardSize / 5;
    align-items: center;
    justify-content: center;
    font-size: 25px;

    &.bl_card_btn--active {
      background-color: lightgreen;
    }

    &.bl_card_btn--center {
      background-color: lightcoral;
    }
  }
}
